<form action='/create' method="POST">
  <p>Name:</p>
  <input id='name' type='text' name='name'/>
  <p>Number:</p>
  <input id='number' type='text' name='number'/>
  <p>Address:</p>
  <input id='address' type='text' name='address'/>
  <input id='submit' type='submit' value='post' />
</form>
